.header-title {
    background: red;
    height: 80px;
    color: white;
    padding: 10px;
}

.header-title > h1 {
    margin-left: 35%;
}

.biografia_text {


}

.container_biografia {
    border-style: solid;
    margin:70px;
    padding: 10px;
    display: inline-flex;
}

.imagen_biografia {
    width: 200px;
    height: 200px;
    
}

/* ---- CSS Footer ---- */

.footer {
    background: red;
    color: white;
    height: 100px;
    width: 100%;
    bottom: 0px;
    position: absolute;
}

.footer > h1 {
    margin-left: 43%;
    padding-top: 20px;
}