.header-title {
    background: red;
    height: 80px;
    color: white;
    padding: 10px;
}

.header-title > h1 {
    margin-left: 35%;
}

.container {
    border-style: solid;
    margin: 20px;
}

.container > div {
    padding: 10px;
}

.container > div > img {
    height: 450px;
    margin-left: 17%;
}

/* ---- CSS Footer ---- */

.footer {
    background: red;
    color: white;
    height: 100px;
    width: 100%;
    bottom: 0px;
    position: absolute;
}

.footer > h1 {
    margin-left: 43%;
    padding-top: 20px;
}